<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <style>
        .banner { background-color:maroon;
                  color:white;
                  font-size:24pt;
                  font-weight:bold;
                  letter-spacing:5pt;
                  }

        .menu    { background-color:#eeeeee;
                  font-weight:bold;
                  }
        body { font-family:calibre;font-size:11pt}

    </style>
</head>
<body>
<div class="banner">Authors</div>
<div class="menu">
    <a href="/catalog/authors_home">Home</a>
    <a href="/catalog/authors_list">List</a>
    <a href="/catalog/authors_add">Add</a>
</div>
{% block body %}
{% endblock %}

</body>
</html>